body {
    width: 100vw;
    height: 100vh;
    background: black;
}
.brand-name {
    text-align: center;
    color:rgb(198, 243, 198);
    text-decoration: underline;
    font-family: "Montserrat Alternates";
    color: rgba(255, 255, 255, 0.884);
}

.row-box {
    text-align: center;
    perspective: 100px;
}

.memory-card {
    display: inline-block;
    width:100px;
    height: 100px;
    cursor: pointer;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform.5s;
}
.memory-card:hover{
    border: 1px solid black;
    opacity: 0.5;
}

.memory-card:active {
    transform: scale(0.90);
    transition: transform.2s;
}

.memory-card.done {
    cursor: default;
    transform: rotateY(180deg)

}

.memory-card.done:hover{
    border: 0px;
    opacity: 1;
}

.red {
    background-color: #ff5151;
}
.aqua {
    background: #034757;
}
.orange {
    background-color: #ffa41b;
}
.yellow {
    background-color: #ecce6d;
}
.green {
    background-color: #0a8543;
}
.blue {
    background-color: #040858;
}
.pink{
    background-color: #FF1493;
}
.purple {
    background-color: #480262;
}

.frontCard-hidden {
    background-color: #07101f;
}

@media screen and (max-width: 480px) {
    .memory-card{
        width:70px !important;
        height: 70px;
    }
    
    .footer{
        font-size: 12px;;
    }
}
@media screen and (max-width: 320px) {
    .memory-card{
        width:60px !important;
        height: 60px;
    }
}